body{
    margin: 0 auto;
    text-align: center;
    
}
.container{
    margin-left: 10px;
    width: 370px;
    height: 422px;
    background-color: aqua;
    border:1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
}

.square{
    width:122px;
    height: 139px;
    border: 1px solid black;
    font-size: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.message{
    margin: 0 auto;
}

